<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>

<title>Help | TAMU Industry Pharmacists Organization</title>
<center><h1>Help and Documentation</h1></center>
<center><p>This page includes documentation and useful information on how to use the different features and functionalities of the web application</p></center>

<h2>Logging into the Website</h2>
<p>To sign in and log into the web application, click on the "Sign in with Google" link and login with your TAMU email (Note: The web application only accepts TAMU emails for logging into the app).</p>
<p></p>

<h2>Home Page</h2>
<p>The home page, which is viewable when a user logs into the website, contains an about section that gives information about the TAMU branch of the Industry Pharmicists Organization.
Also, the home page contains the IPhO Twitter Feed as well, so users can read tweets and organization updates without having to leave the web page.</p>
<p></p>

<h2>Website Navigation</h2>
<p>To navigate the website, the top of each page contains a navigation bar containing links to each page in the web application</p>
<p>(Note: Only those logged in can access and view these pages)</p>
<p></p>

<p>The navbar links and what pages they link to are:</p>
<ul>
    <li>TAMU Industry Pharmicists Organization and Home - Takes user to the home page</li>
    <li>Help - Takes user to the help and web app documentation page</li>
    <li>Members - Takes user to the members page, containing the members table</li>
    <li>Member Orgs - Takes user to the member orgs page, containing the member orgs table, that shows the members and the organizations they are a part of</li>
    <li>Organizations -  Takes user to the organizations page, containing the organizations table that includes organizations members and guest speakers are a part of</li>
    <li>Speakers -  Takes user to the speaker page, containing the speakers table, a link to the Speaker Media Google Drive, and the Speaker Application Form (JotForm)</li>
</ul>
<p></p>

<h2>Regular Member and Admin Permissions</h2>
<p>Regular Member Permissions</p>
<ul>
    <li>Members can view member, member org, organizations, and speaker tables</li>
    <li>Members can view Twitter Feed and about sections in the home page</li>
    <li>Members can view shared Speaker Media</li>
</ul>

<p>Admin Permissions</p>
<ul>
    <li>Same permissions as regular members</li>
    <li>Admins can modify, update, and delete enties in the member, member org, organizations, and speaker tables</li>
    <li>Admins can give and take away admin permissions from members</li>
    <li>Admins can access the Speaker Interest Form and fill it out</li>
</ul>

<h2>Members Page</h2>
<p>The members page contains a list of our current members including information about them, such as their name, email, whether or not they 
are alumni, and their admin status.</p>
<p>Regular members can see the table of current members and be able to click on an individual member and view their information in a separate 
page by clicking the View button that is next to a specific member on the view table</p>
<p>Admins, unlike regular members, can also click on the Update button that is next to a member to modify their information and can also click
on the Delete button to remove a member from the table, with a popup also confirming if the admin wants to remove the member or not</p>
<p>Admins can also add a new member, by clicking on the "Add New Member" button and filling out a form that requires an admin to enter:</p>
<ul>
    <li>Member ID - A unique ID for the member</li>
    <li>Name - The name of the member</li>
    <li>Email - The email of the member</li>
    <li>Admin Status - Admin status of the member, by either checking the checkbox if they are or leaving it blank if they are not one</li>
    <li>Alumni Status - Alumni status of the member, by either checking the checkbox if they are or leaving it blank if they are not one</li>
</ul>

<h2>Member Org Page</h2>
<p>The member orgs page contains a list of our current members and the organizations they are a part of, including information such as the name of the member and the name of the organization they are a part of</p>
<p>Regular member orgs can see the table of current members and the organizations they are a part of, and they are able to click on an individual member org and view its information in a separate 
page by clicking the View button that is next to a specific member org on the view table</p>
<p>Admins, unlike regular members, can also click on the Update button that is next to a member org to modify their information and can also click
on the Delete button to remove a member org from the table, with a popup also confirming if the admin wants to remove the member org or not</p>
<p>Admins can also add a new member, by clicking on the "Add a Member to an Organization" button and filling out a form that requires an admin to enter:</p>
<ul>
    <li>Member Org ID - A unique ID for the member org</li>
    <li>Member ID - An Member ID to get its associated member from the member table</li>
    <li>Organization ID - An Organization ID to get its associated organization from the organization table</li>
</ul>

<h2>Organizations Page</h2>
<p>The organizations page contains a list of organizations our members and guest speakers are a part of including including information about them, such as their name and email</p>
<p>Regular members can see the table of corganizations and be able to click on an organization and view its information in a separate 
page by clicking the View button that is next to a specific organization on the view table</p>
<p>Admins, unlike regular members, can also click on the Update button that is next to an organization to modify their information and can also click
on the Delete button to remove an organization from the table, with a popup also confirming if the admin wants to remove the organization or not</p>
<p>Admins can also add a new organization, by clicking on the "Add New Organization" button and filling out a form that requires an admin to enter:</p>
<ul>
    <li>Organization ID - A unique ID for the organization</li>
    <li>Name - The name of the organization</li>
    <li>Member Email - The email of the organization</li>
</ul>

<h2>Speakers Page</h2>
<p>The speakers page contains a list of guest speakers who have spoke at organization events including information about them, such as their name, email, the organization
they are a part of, and their website .</p>
<p>Regular members can see the table of speakers and are able to click on an speaker and view their information in a separate 
page by clicking the View button that is next to a specific speaker on the view table</p>
<p>Regular members and admins can click on the Speaker Media Drive button to be redirected to the Google Drive contain Speaker Media such as
speaker presentations and transcripts</p>
<p>Admins, unlike regular members, can also click on the Update button that is next to a speaker to modify their information and can also click
on the Delete button to remove a speaker from the table, with a popup also confirming if the admin wants to remove the speaker or not</p>
<p>Admins can also add a new speaker, by clicking on the "Add New Speaker" button and filling out a form that requires an admin to enter:</p>
<ul>
    <li>Speaker ID - A unique ID for the speaker</li>
    <li>Speaker Name - The name of the speaker</li>
    <li>Speaker Email - The email of the speaker</li>
    <li>Organization ID - The ID of the organization a speaker is a part of</li>
    <li>Speaker Website - The speakers website</li>
</ul>
<p>Admins can also click on the JotForm button to be taken to the Speaker Application Form/JotForm page and gain access to or fill 
out a speaker application form</p>

<h2>JotForm/Speaker Application Page</h2>
<p>This page contains the Speaker Application Form, created with JotForm. To load it click the Load JotForm button.</p>