<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>

<title>Help | TAMU Industry Pharmacists Organization</title>
<center><h1>Help and Documentation</h1></center>
<center><p>This page includes documentation and useful information on how to use the different features and functionalities of the web application</p></center>


