<h1>New Member</h1>
<% if current_current_member.isAdmin %>
    <%= render 'form', current_member: @current_member %>
<% else %>
    <h2> You must be an admin to add new members </h2>
<% end %>

<%= link_to 'Back', current_members_path %>
