<h1>Editing Member Org</h1>
<title>Edit Member Org | TAMU Industry Pharmacists Organization</title>

<%= render 'form', member_org: @member_org %>

<%= link_to 'Show', @member_org %> |
<%= link_to 'Back', member_orgs_path %>
