<html>
    <head>
        <h1>Speaker Interest Form</h1>
    </head>

    <button onClick="window.location.reload();">Load JotForm</button>

    <div style="margin-bottom:20px"></div>

    <script type="text/javascript" src="https://form.jotform.com/jsform/222486047507054">

</html>