<html>
    <head>
        <h1>Speaker Application Jotforms</h1>
    </head>

    <%= link_to 'Return to Speakers Page', speakers_path %>

    <div style="margin-bottom:20px"></div>

    <body>
        <script type="text/javascript" src="https://form.jotform.com/jsform/223145257038150"></script>
    </body>

</html>