<html>
    <head>
        <title>Speaker Interest Forms | TAMU Industry Pharmacists Organization</title>
        <center><h1>Speaker Interest Form</h1></center>
    </head>

    <center>
        <p>This page is used to fill out and submit Speaker Interest Forms for potential speakers to come speak at our events using JotForm. Click the button below to load a JotForm Application</p>
        <button onClick="window.location.reload();">Load JotForm</button>
    </center>

    <div style="margin-bottom:20px"></div>

    <body>
        <script type="text/javascript" src="https://form.jotform.com/jsform/222486047507054"></script>
    </body>

</html>