<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>
<h2>Welcome <%= current_current_member.name %>!</h2>
<a class="twitter-timeline" href="https://twitter.com/iphorg?ref_src=twsrc%5Etfw">Tweets by iphorg</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>