<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>
<h2>Welcome <%= current_current_member.name %>!</h2>
<title>Home | TAMU Industry Pharmacists Organization</title>