<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>
<h2>Welcome <%= current_current_member.name %>!</h2>
<title>Home | TAMU Industry Pharmacists Organization</title>
<center><h2>About Us</h2></center>
<center><p>We are the TAMU Chapter for the Industry Pharmacists Organization (IPhO). This organization is meant for students
studying in or are a part of the pharmaceutical industry, to network with other students and industry professionals, while also 
finding opportunities within their field</p></center>
<center><h2>Organization Updates</h2></center>
<a class="twitter-timeline" href="https://twitter.com/iphorg?ref_src=twsrc%5Etfw">Tweets by iphorg</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

