<h1>Editing Speaker</h1>
<title>Edit Speaker | TAMU Industry Pharmacists Organization</title>

<% if current_current_member.isAdmin %>
    <%= render 'form', speaker: @speaker %>
<% else %>
    <h2> You must be an admin to edit speakers </h2>
<% end %>

<%= link_to 'Show', @speaker %> |
<%= link_to 'Back', speakers_path %>
