<h1>New Speaker</h1>

<% if current_current_member.isAdmin %>
    <%= render 'form', speaker: @speaker %>
<% else %>
    <h2> You must be an admin to add new speaker </h2>
<% end %>

<%= link_to 'Back', speakers_path %>
